* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  /* position: fixed; */
  height: 43px;
  width: 100%;
  border-bottom: solid lightgray 1px;
}

nav section {
  width: 85%;
  height: inherit;
  text-align: center;
  margin: 0 auto;
}

nav div {
  height: inherit;
  float: left;
}

.icons {
  width: 16px;
  height: 16px;
  margin-top: 13.5px;
  margin-right: 26px;
  cursor: pointer;
  vertical-align: top;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
  line-height: 43px;
}

a:hover {
  text-decoration: underline;
}

.left-nav-elements {
  width: 35%;
  text-align: left;
}

.middle-nav-elements {
  width: 30%;
}

.right-nav-elements {
  width: 35%;
  text-align: right;
}

.middle-nav-elements img {
  width: 195px;
  height: 26px;
  margin-top: 8.5px;
}

nav button {
  white-space: nowrap;
  font-size: 11px;
  font-weight: 700;
  height: 32px;
  background-color: #567b95;
  color: white;
  border: solid #326891 1px;
  border-radius: 3px;
  margin-top: 5.5px;
}

nav button:nth-child(1) {
  width: 120px;
}

nav button:nth-child(2) {
  width: 83px;
}

header {
  height: 300px;
}
