* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

nav {
  position: fixed;
  background-color: white;
  top: 0;
  height: 43px;
  width: 100%;
  border-bottom: solid lightgray 1px;
}

nav section {
  width: 89%;
  height: inherit;
  text-align: center;
  margin: 0 auto;
}

nav div {
  height: inherit;
  float: left;
}

.icons {
  width: 16px;
  height: 16px;
  margin-top: 13.5px;
  margin-right: 26px;
  cursor: pointer;
  vertical-align: top;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
  line-height: 43px;
}

a:hover {
  text-decoration: underline;
}

.left-nav-elements {
  width: 35%;
  text-align: left;
}

.middle-nav-elements {
  width: 30%;
}

.right-nav-elements {
  width: 35%;
  text-align: right;
}

.middle-nav-elements img {
  width: 195px;
  height: 26px;
  margin-top: 8.5px;
}

nav button {
  white-space: nowrap;
  font-size: 11px;
  font-weight: 700;
  height: 32px;
  background-color: #567b95;
  color: white;
  border: solid #326891 1px;
  border-radius: 3px;
  margin-top: 5px;
}

nav button:nth-child(1) {
  width: 120px;
}

nav button:nth-child(2) {
  width: 83px;
}

/*Navigation Bar End*/

/*Header Section Start*/

header > span {
  display: block;
  font-size: 40px;
  width: 600px;
  margin: 45px auto 25px;
}

header figure {
  width: 65%;
  height: 80vh;
  margin: 0 auto 20px;
}

header figure .header-img {
  background-size: cover;
  background-position: center;
  height: 90%;
  background-image: url("https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg?quality=90&auto=webp");
}

header figure figcaption {
  font-size: 15px;
  color: #666;
  width: 849px;
  margin-top: 2px;
}

a {
  text-decoration: none;
  color: #888;
}

/*Header Botton Start*/

.header-botton {
  width: 600px;
  margin: 0 auto 30px;
}

.header-botton .author {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.header-botton .author span {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

.header-botton .info-container {
  height: 35px;
}

.header-botton .info-container ul {
  float: right;
  list-style: none;
  width: 270px;
}
time {
  line-height: 35px;
  font-size: 13px;
  color: #333;
}
.header-botton .info-container ul li {
  float: left;
  width: 27px;
  height: 27px;
  margin-left: 16px;
  line-height: 27px;
  text-align: center;
}

.header-botton .info-icons {
  background-color: #eee;
  border-radius: 50%;
}

.info-container ul li img {
  vertical-align: middle;
}
li.btnIcons {
  background-color: none;
}

/* article section */
main {
  width: 65%;
  margin: auto;
}
main section {
  width: 100%;
  height: 100%;
}
main article {
  width: 50%;
  margin: auto;
}
main section article p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgb(56, 56, 56);
  line-height: 30px;
}
main article hr {
  margin: 20px auto;
  width: 72px;
  color: rgb(204, 204, 204);
}
main article div {
  text-align: center;
}
main article span {
  font-weight: 700;
}
main article .unlock-sign a {
  text-decoration: none;
  color: #326891;
}
main section aside {
  /* margin-right: 90px; */
  width: 210px;
  height: 500px;
  float: right;
}

.signup{
  width: 180px;
  margin-top: 200px;
  margin-bottom: 900px;
}
.signup h2{
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1.5;
}
.signup p{
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.2;
  color: #666;
}

.signup button{
  width: 100%;
  height: 35px;
  border: 1px solid rgb(86, 123, 149);
  border-radius: 5px;
  background-color: rgb(86, 123, 149);
  color: white;
  font-size: 13px;
  font-weight: 700;

}
.editors-pick h2{
  font-size: 14px;
}
.editors-pick hr{
  margin-top: 12px;
  margin-bottom: 15px;
  color: rgb(204, 204, 204);
}
.aside-img div{
  margin-bottom: 10px;
}
.aside-img .editors-text{
  float: right;
  max-width: 130px;
  height: 60px;
  padding-top: 9.5px;
  font-size: 14px;
  color: #333;
}

.aside-img div img {
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center;
}
